name: Update Blog Posts
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-blog:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Update Blog Posts
        uses: gautamkrishnar/blog-post-workflow@v2
        with:
          feed_list: "https://harishkrishnan1993.medium.com/feed"
          max_post_count: 5
          commit_message: "chore: update blog posts"
          committer_username: "harishkrishnan24"
          committer_email: "harishkrishnan1993@gmail.com"
          template: "- [$title]($url) - *$date*"
          date_format: "mmm dd, yyyy"
